---
import MainLayout from "../layouts/MainLayout.astro";
import FilterPagination from "../components/FilterPagination.tsx";
---

<MainLayout>
  <div class="articles-container">
    <h1 class="articles-list-title">Lista de Artículos</h1>
    <FilterPagination client:load />
  </div>
</MainLayout>
