---
import MainLayout from '../layouts/MainLayout.astro';
import FilterPagination from '../components/FilterPagination.tsx';
import Articles from '../data/articles.json';
---

<MainLayout>
  <div class="articles-container">
    <h1 class="articles-list-title">Lista de Artículos</h1>
    <FilterPagination articles={Articles} client:load />
  </div>
</MainLayout>

